<!DOCTYPE html>
<html>
    <head>
        <title>OCR</title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1>OCR project</h1>
        <p>Image To Text</p>

        <form action="/uploads" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar" />
            <button type="submit">Convert Text in image to Text</button>
        </form>
    </body>
</html>
